@import './base.css';

#app {
  max-width: 1024px;
  width: 780px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  #app {
    padding: 0 2rem;
  }
}
